{% load static %}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link type="text/css" rel="stylesheet" href="{% static 'purchase_order/purchase_order.css' %}">
<link type="text/css" rel="stylesheet" href="{% static 'purchase_order/sheet.css' %}">
<div class="ritz grid-container" dir="ltr">
    <table class="waffle" cellspacing="0" cellpadding="0">
        <thead>
        <tr>
            <!--            <th class="row-header freezebar-origin-ltr"></th>-->
            <!--            <th id="0C0" style="width:175px" class="column-headers-background">A</th>-->
            <!--            <th id="0C1" style="width:275px" class="column-headers-background">B</th>-->
            <!--            <th id="0C2" style="width:135px" class="column-headers-background">C</th>-->
            <!--            <th id="0C3" style="width:197px" class="column-headers-background">D</th>-->
            <!--            <th id="0C4" style="width:162px" class="column-headers-background">E</th>-->
        </tr>
        </thead>
        <tbody>
        <tr style='height:20px;'>
            <th id="0R0" style="height: 20px;" class="row-headers-background">

            </th>
            <td class="s0" dir="ltr"></td>
            <td class="s1" dir="ltr">PURCHASE</td>
            <td class="s2" dir="ltr">ORDER</td>
            <td class="s0"></td>
            <td class="s3"></td>
        </tr>
        <tr style='height:20px;'>
            <th id="0R1" style="height: 20px;" class="row-headers-background">

            </th>
            <td class="s4 softmerge" dir="ltr">
                <div class="softmerge-inner" style="width: 448px; left: -1px;">{{society_name}}</div>
            </td>
            <td class="s5"></td>
            <td class="s5"></td>
            <td class="s1" dir="ltr">Date :</td>
            <td class="s3" dir="ltr">{{po_date}}</td>
        </tr>
        <tr style='height:20px;'>
            <th id="0R2" style="height: 20px;" class="row-headers-background">

            </th>
            <td class="s6 softmerge" dir="ltr">
                <div class="softmerge-inner" style="width: 448px; left: -1px;">{{society_address}}</div>
            </td>
            <td class="s5"></td>
            <td class="s5"></td>
            <td class="s1" dir="ltr">PO-No :</td>
            <td class="s3" dir="ltr">{{purchase_order_no}}</td>
        </tr>
        <tr style='height:20px;'>
            <th id="0R3" style="height: 20px;" class="row-headers-background">

            </th>
            <td class="s0"></td>
            <td class="s0"></td>
            <td class="s0"></td>
            <td class="s3"></td>
        </tr>
        <tr style='height:20px;'>
            <th id="0R4" style="height: 20px;" class="row-headers-background">

            </th>
            <td class="s0"></td>
            <td class="s0"></td>
            <td class="s0"></td>
            <td class="s3"></td>
        </tr>
        <tr style='height:20px;'>
            <th id="0R5" style="height: 20px;" class="row-headers-background">

            </th>
            <td class="s0"></td>
            <td class="s0"></td>
            <td class="s0"></td>
            <td class="s3"></td>
        </tr>
        <tr style='height:20px;'>
            <th id="0R6" style="height: 20px;" class="row-headers-background">

            </th>
            <td class="s0"></td>
            <td class="s0"></td>
            <td class="s0"></td>
            <td class="s0"></td>
            <td class="s3"></td>
        </tr>
        <tr style='height:20px;'>
            <th id="0R7" style="height: 20px;" class="row-headers-background">

            </th>
            <td class="s2" dir="ltr">VENDOR</td>
            <td class="s0"></td>
            <td class="s2" dir="ltr">SHIP TO</td>
            <td class="s0"></td>
            <td class="s3"></td>
        </tr>
        <tr style='height:20px;'>
            <th id="0R8" style="height: 20px;" class="row-headers-background">

            </th>
            <td class="s0" dir="ltr">{{vendor_address}}</td>
            <td class="s0"></td>
            <td class="s6 softmerge" dir="ltr">
                <div class="softmerge-inner" style="width: 330px; left: -1px;">{{society_name}}</div>
            </td>
            <td class="s5"></td>
            <td class="s5"></td>
        </tr>
        <tr style='height:20px;'>
            <th id="0R9" style="height: 20px;" class="row-headers-background">

            </th>
            <td class="s6 softmerge" dir="ltr">
            </td>
            <td class="s5"></td>
            <td class="s7 softmerge" dir="ltr">
                <div class="softmerge-inner" style="width: 330px; left: -1px;">{{society_address}}</div>
            </td>
            <td class="s5"></td>
            <td class="s5"></td>
        </tr>
        <tr style='height:20px;'>
            <th id="0R10" style="height: 20px;" class="row-headers-background">

            </th>
            <td class="s0"></td>
            <td class="s6 softmerge" dir="ltr">
            </td>
            <td class="s5"></td>
            <td class="s5"></td>
        </tr>
        <tr style='height:20px;'>
            <th id="0R11" style="height: 20px;" class="row-headers-background">

            </th>
            <td class="s0"></td>
            <td class="s6 softmerge" dir="ltr">
            </td>
            <td class="s5"></td>
            <td class="s5"></td>
        </tr>
        <tr style='height:20px;'>
            <th id="0R12" style="height: 20px;" class="row-headers-background">

            </th>
            <td class="s0"></td>
            <td class="s6 softmerge" dir="ltr">
            </td>
            <td class="s5"></td>
            <td class="s5"></td>
        </tr>
        <tr style='height:20px;'>
            <th id="0R13" style="height: 20px;" class="row-headers-background">

            </th>
            <td class="s8"></td>
            <td class="s8"></td>
            <td class="s8"></td>
            <td class="s8"></td>
            <td class="s3"></td>
        </tr>
        <tr style='height:20px;'>
            <th id="0R14" style="height: 20px;" class="row-headers-background">

            </th>
            <td class="s9" dir="ltr"></td>
            <td class="s9" dir="ltr"></td>
            <td class="s9" dir="ltr"></td>
            <td class="s9" dir="ltr"></td>
            <td class="s3"></td>
        </tr>
        <tr style='height:20px;'>
            <th id="0R15" style="height: 20px;" class="row-headers-background">

            </th>
            <td class="s3"></td>
            <td class="s3"></td>
            <td class="s3"></td>
            <td class="s3"></td>
            <td class="s3"></td>
        </tr>
        <tr style='height:20px;'>
            <th id="0R16" style="height: 20px;" class="row-headers-background">

            </th>
            <td class="s10 softmerge" dir="ltr">
                <div class="softmerge-inner" style="width: 190px; left: -19px;"></div>
            </td>
            <td class="s11" dir="ltr"></td>
            <td class="s11" dir="ltr"></td>
            <td class="s11" dir="ltr"></td>
            <td class="s3"></td>
        </tr>
        <tr style='height:20px;'>
            <th id="0R17" style="height: 20px;" class="row-headers-background">

            </th>
            <td class="s8"></td>
            <td class="s8"></td>
            <td class="s8"></td>
            <td class="s8"></td>
            <td class="s12"></td>
        </tr>
        <tr style='height:20px;'>
            <th id="0R18" style="height: 20px;" class="row-headers-background">

            </th>
            <td class="s9" dir="ltr">PRODUCT NO</td>
            <td class="s9" dir="ltr">PRODUCT</td>
            <td class="s9" dir="ltr">QTY</td>
            <td class="s9" dir="ltr">UNIT PRICE</td>
        </tr>
        {% for line in purchase_order_lines %}
        <tr style='height:20px;'>
            <th id="0R19" style="height: 20px;" class="row-headers-background">

            </th>
            <td class="s11" dir="ltr">{{ forloop.counter }}</td>
            <td class="s11" dir="ltr">{{ line.product_name }}</td>
            <td class="s11" dir="ltr">{{ line.quantity }}</td>
            <td class="s11" dir="ltr">{{ line.product_unit_price }}/-</td>
            <td class="s11" dir="ltr">/-</td>
        </tr>
        {% endfor %}

        <tr style='height:20px;'>
            <th id="0R37" style="height: 20px;" class="row-headers-background">

            </th>
            <td class="s8"></td>
            <td class="s8"></td>
            <td class="s0"></td>
            <td class="s0"></td>
            <td class="s12"></td>
        </tr>
        <tr style='height:20px;'>
            <th id="0R38" style="height: 20px;" class="row-headers-background">

            </th>
            <td class="s0"></td>
            <td class="s3"></td>
            <td class="s0"></td>
        </tr>
        <tr style='height:20px;'>
            <th id="0R39" style="height: 20px;" class="row-headers-background">

            </th>
            <td class="s14 softmerge" dir="ltr">
                <div class="softmerge-inner" style="width: 448px; left: -1px;">Special Instructions or Comments</div>
            </td>
            <td class="s15"></td>
            <td class="s5"></td>
            <td class="s13" dir="ltr">Grand Total :</td>
            <td class="s11" dir="ltr">{{grand_total}}/-</td>
        </tr>
        <tr style='height:20px;'>
            <th id="0R40" style="height: 20px;" class="row-headers-background">

            </th>
            <td class="s6 softmerge" dir="ltr">
                <div class="softmerge-inner" style="width: 448px; left: -1px;">
                </div>
            </td>
            <td class="s5"></td>
            <td class="s5"></td>
            <td class="s13" dir="ltr"></td>
            <td class="s11" dir="ltr"></td>
        </tr>
        <tr style='height:20px;'>
            <th id="0R41" style="height: 20px;" class="row-headers-background">

            </th>
            <td class="s0" dir="ltr"> {{special_instructions}}</td>
            <td class="s3"></td>
            <td class="s0"></td>
            <td class="s13" dir="ltr"></td>
            <td class="s11" dir="ltr"></td>
        </tr>
        <tr style='height:20px;'>
            <th id="0R42" style="height: 20px;" class="row-headers-background">

            </th>
            <td class="s3"></td>
            <td class="s0"></td>
            <td class="s0"></td>
            <td class="s12"></td>
        </tr>
        <tr style='height:20px;'>
            <th id="0R43" style="height: 20px;" class="row-headers-background">

            </th>
            <td class="s0"></td>
            <td class="s3"></td>
            <td class="s0"></td>
            <td class="s13" dir="ltr"></td>
            <td class="s11" dir="ltr"></td>
        </tr>
        <tr style='height:20px;'>
            <th id="0R44" style="height: 20px;" class="row-headers-background">

            </th>
            <td class="s0"></td>
            <td class="s3"></td>
            <td class="s0"></td>
            <td class="s0"></td>
            <td class="s3"></td>
        </tr>
        <tr style='height:20px;'>
            <th id="0R45" style="height: 20px;" class="row-headers-background">

            </th>
            <td class="s0"></td>
            <td class="s3"></td>
            <td class="s0"></td>
            <td class="s0"></td>
            <td class="s3"></td>
        </tr>
        <tr style='height:20px;'>
            <th id="0R46" style="height: 20px;" class="row-headers-background">

            </th>
            <td class="s0"></td>
            <td class="s3"></td>
            <td class="s0"></td>
            <td class="s0"></td>
            <td class="s3"></td>
        </tr>
        <tr style='height:20px;'>
            <th id="0R47" style="height: 20px;" class="row-headers-background">

            </th>
            <td class="s0"></td>
            <td class="s3"></td>
            <td class="s0"></td>
            <td class="s0"></td>
            <td class="s3"></td>
        </tr>
        <tr style='height:20px;'>
            <th id="0R48" style="height: 20px;" class="row-headers-background">

            </th>
            <td class="s8"></td>
            <td class="s12"></td>
            <td class="s0"></td>
            <td class="s0"></td>
            <td class="s3"></td>
        </tr>
        <tr style='height:20px;'>
            <th id="0R49" style="height: 20px;" class="row-headers-background">

            </th>
            <td class="s8"></td>
            <td class="s8"></td>
            <td class="s8"></td>
            <td class="s8"></td>
            <td class="s12"></td>
        </tr>
        </tbody>
    </table>
</div>
<script type='text/javascript' nonce='EtGsj6XtLgEnQ0fKL6LxCA'>
function posObj(sheet, id, row, col, x, y) {
  var rtl = false;
  var sheetElement = document.getElementById(sheet);
  if (!sheetElement) {
    sheetElement = document.getElementById(sheet + '-grid-container');
  }
  if (sheetElement) {
    rtl = sheetElement.getAttribute('dir') == 'rtl';
  }
  var r = document.getElementById(sheet+'R'+row);
  var c = document.getElementById(sheet+'C'+col);
  if (r && c) {
    var objElement = document.getElementById(id);
    var s = objElement.style;
    var t = y;
    while (r && r != sheetElement) {
      t += r.offsetTop;
      r = r.offsetParent;
    }
    var offsetX = x;
    while (c && c != sheetElement) {
      offsetX += c.offsetLeft;
      c = c.offsetParent;
    }
    if (rtl) {
      offsetX -= objElement.offsetWidth;
    }
    s.left = offsetX + 'px';
    s.top = t + 'px';
    s.display = 'block';
    s.border = '1px solid #000000';
  }
};
function posObjs() {
};
posObjs();
</script>
